@model PopsWeb.Models.PopsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PopsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pop_name)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pop_description)
        </dd>

        <dt>
            Collection Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pop_collection_name)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            Rating
        </dt>
        <dd>
            @ViewBag.rating
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
